<div class="lime-sidebar">
    <div class="lime-sidebar-inner slimscroll">
        <ul class="accordion-menu">
            <li class="sidebar-title">{{ 'app'|trans({}, 'app') }}</li>
            <li><a href="{{ app.request.baseUrl }}" class="active"><i class="material-icons">dashboard</i>{{ 'index_page'|trans({}, 'app') }}</a></li>
            <li><a href="{{ path('contacts') }}"><i class="material-icons">contacts</i>{{ 'contacts'|trans({}, 'app') }}</a></li>

            <li class="sidebar-title">{{ 'sources'|trans({}, 'app') }}</li>
            <li>
                <a href="{{ path('yandex.index') }}"><i class="material-icons">text_format</i>{{ 'yandex_music'|trans({}, 'app') }}<i class="material-icons has-sub-menu">keyboard_arrow_left</i></a>
                <ul class="sub-menu">
                    <li><a href="{{ path('yandex.song') }}">{{ 'download_song'|trans({}, 'app') }}</a></li>
                    <li><a href="{{ path('yandex.album') }}">{{ 'download_album'|trans({}, 'app') }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
