{#<div class="theme-settings-sidebar">
    <div class="theme-settings-inner">
        <h3 class="theme-sidebar-title">Themes</h3>
        <p class="themes-info">Select a demo</p>

        <a class="theme-item active" href="#">
            <img src="../../assets/images/themes/1.png" alt="">
            <h4 class="theme-title">Classic</h4>
        </a>
        <a class="theme-item" href="#">
            <div class="coming-theme">Coming Soon</div>
            <img src="../../assets/images/themes/2.png" alt="">
            <h4 class="theme-title">Dark Theme</h4>
        </a>
    </div>
</div>#}

<div class="lime-header">
    <nav class="navbar navbar-expand-lg">
        <section class="material-design-hamburger navigation-toggle">
            <a href="javascript:void(0)" class="button-collapse material-design-hamburger__icon">
                <span class="material-design-hamburger__layer"></span>
            </a>
        </section>
        <a class="navbar-brand" href="{{ path('index') }}">Web Processor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="material-icons">keyboard_arrow_down</i>
        </button>

        <div class="dropdown col-md-3 offset-8">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ app.request.locale|upper }}
                <img src="{{ asset('/images/langs/' ~ app.request.locale ~ '.svg') }}" alt="" width="24px" class="align-bottom">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% set currentRoute = app.request.get('_route') %}

                {% for locale in supported_locales %}
                    <a class="dropdown-item" href="{{ path(currentRoute, {_locale: locale}) }}">
                        <b>{{ locale|upper }}</b>
                        <img src="{{ asset('/images/langs/' ~ locale ~ '.svg') }}" alt="" width="24px" class="float-right">
                    </a>
                {% endfor %}
            </div>
        </div>

        {#<div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search for projects, apps, pages..." aria-label="Search">
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle theme-settings-link" href="#">
                        <i class="material-icons">layers</i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="#">Account</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li><a class="dropdown-item" href="#">Log Out</a></li>

                    </ul>
                </li>
            </ul>
        </div>#}
    </nav>
</div>
