{% extends 'layout.html.twig' %}

{% set title = 'service_yandex_title'|trans({}, 'app') %}
{% set description = 'service_yandex_description'|trans({}, 'app') %}
{% set keywords = 'service_yandex_keywords'|trans({}, 'app') %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
    {% for locale in supported_locales %}
        <link rel="alternate1" hreflang="{{ locale }}" href="{{ absolute_url(path('yandex.index', {_locale: locale})) }}" />
    {% endfor %}

    <meta name="description" content="{{ description }}">

    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:site_name" content="Yandex music downloader" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ absolute_url(asset('images/cloud.png')) }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:locale" content="{{ app.request.locale }}" />

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "{{ absolute_url(path('yandex.index')) }}",
            "name": "{{ title }}",
            "description": "{{ description }}",
            "image": "{{ absolute_url(asset('images/cloud.png')) }}",
            "keywords": "{{ keywords }}",
            "inLanguage": "{{ app.request.locale }}",
            "dateCreated": 2020,
            "isAccessibleForFree": true
        }
    </script>
{% endblock %}

{% block head %}
    <style>
        .info-image {
            height: 200px;
            background: url({{ asset('images/cloud_safe.png') }}) center center no-repeat;
            background-size: contain;
        }
    </style>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">{{ 'services'|trans({}, 'app') }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('yandex.index') }}">{{ 'yandex_music'|trans({}, 'app') }}</a></li>

            {% if trackId %}
                <li class="breadcrumb-item active">{{ trackId }}</li>
            {% endif %}
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1>{{ 'yandex_music_song_title'|trans({}, 'app') }}</h1>

                    <yandex-download-song-component {% if trackId %}:track-id-prop='{{ trackId }}'{% endif %} />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="dashboard-info row">
                        <div class="info-text col-md-12">
                            <h3>{{ 'about'|trans({}, 'app') }}</h3>
                            <p style="font-size: 1.1em;">{{ 'yandex_music_song_about'|trans({}, 'app')|raw|nl2br }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card text-black">
                <div class="card-body">
                    <div class="dashboard-secondary row">
                        <div class="secondary-text col-md-12">
                            <h3>{{ 'why_we'|trans({}, 'app') }}</h3>
                            <p style="font-size: 1.1em;">{{ 'why_we_content'|trans({}, 'app')|raw|nl2br }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
