<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Admin Dashboard Template">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="stacks">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{% block title %}Yandex music downloader{% endblock %}</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('plugins/font-awesome/css/all.min.css') }}" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="{{ asset('css/lime.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta name="csrf-token" content="somenotrandomtokenyet">

    {{ encore_entry_link_tags('app') }}

    {% block head %}{% endblock %}
    {% block meta %}{% endblock %}
</head>
<body>

{% include '_partials/navbar.html.twig' %}

{% include '_partials/rightbar.html.twig' %}

<div class="lime-container">
    <div class="lime-body" id="app">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% include '_partials/footer.html.twig' %}
</div>


<!-- Javascripts -->
<script src="{{ asset('plugins/jquery/jquery-3.1.0.min.js') }}"></script>
<script src="{{ asset('plugins/bootstrap/popper.min.js') }}"></script>
<script src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('plugins/chartjs/chart.min.js') }}"></script>
<script src="{{ asset('plugins/apexcharts/dist/apexcharts.min.js') }}"></script>
<script src="{{ asset('js/lime.min.js') }}"></script>
<script src="{{ asset('js/pages/dashboard.js') }}"></script>

{{ encore_entry_script_tags('app') }}

{% block javascript %}{% endblock %}
</body>
</html>
