{% extends 'layout.html.twig' %}

{% set title = 'Yandex music hight quality sound downloader - Online' %}
{% set description = 'Download sound from music.yandex.ru in high quality.' %}
{% set keywords = 'Yandex music downloader, yandex music high quality song downloader' %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ description }}">

    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:site_name" content="Yandex music downloader" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ asset('images/cloud.png') }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:locale" content="{{ app.request.uri }}" />

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "{{ app.request.uri }}",
            "name": "{{ title }}",
            "description": "{{ description }}",
            "image": "{{ asset('images/cloud.png') }}",
            "keywords": "{{ keywords }}",
            "inLanguage": "{{ app.request.locale }}",
            "dateCreated": 2020,
            "isAccessibleForFree": true
        }
    </script>
{% endblock %}

{% block head %}
    <style>
        .info-image {
            height: 200px;
            background: url({{ asset('images/cloud_safe.png') }}) center center no-repeat;
            background-size: contain;
        }
    </style>

    <script>
        window.translations = {
            'app.title': 'App trans title',
        };
    </script>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white">
            <li class="breadcrumb-item"><a href="{{ app.request.getSchemeAndHttpHost }}">Services</a></li>
            <li class="breadcrumb-item">Contacts</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1>Contacts form</h1>

                    <div class="row">
                        <div class="info-text col-md-12">
                            <p>Send question or suggestion to our team.</p>

                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
