{% extends 'layout.html.twig' %}

{% block title %}{{ 'contacts_title'|trans({}, 'app') }}{% endblock %}

{% block head %}
    <style>
        .info-image {
            height: 200px;
            background: url({{ asset('images/cloud_safe.png') }}) center center no-repeat;
            background-size: contain;
        }
    </style>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: white">
            <li class="breadcrumb-item">
                <a href="{{ path('index') }}">{{ 'services'|trans({}, 'app') }}</a>
            </li>
            <li class="breadcrumb-item">{{ 'contacts'|trans({}, 'app') }}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1>{{ 'contact_form'|trans({}, 'app') }}</h1>

                    <div class="row">
                        <div class="info-text col-md-12">
                            <p>{{ 'contact_form_message'|trans({}, 'app') }}</p>

                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
