{% extends 'layout.html.twig' %}

{% set title = 'index_title'|trans({}, 'app') %}
{% set description = 'index_description'|trans({}, 'app') %}
{% set keywords = 'index_keywords'|trans({}, 'app') %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ description }}">

    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:site_name" content="Yandex music downloader" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ absolute_url(asset('images/cloud.png')) }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:locale" content="{{ absolute_url('app.request.uri') }}" />

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "{{ absolute_url(app.request.uri) }}",
            "name": "{{ title }}",
            "description": "{{ description }}",
            "image": "{{ absolute_url(asset('images/cloud.png')) }}",
            "keywords": "{{ keywords }}",
            "inLanguage": "{{ app.request.locale }}",
            "dateCreated": 2020,
            "isAccessibleForFree": true
        }
    </script>
{% endblock %}

{% block head %}
    <style>
        .info-image {
            height: 200px;
            background: url({{ asset('images/cloud_safe.png') }}) center center no-repeat;
            background-size: contain;
        }
    </style>

    <script>
        window.translations = {
            'app.title': 'App trans title',
        };
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <div class="dashboard-info row">
                        <div class="col-md-7">
                            <h2 class="card-title">{{ 'yandex_music_downloader'|trans({}, 'app') }}</h2>
                            <p>{{ 'yandex_music_downloader_header'|trans({}, 'app') }}</p>
                            <ul>
                                <li>{{ 'yandex_music_downloader_message1'|trans({}, 'app') }}</li>
                                <li>{{ 'yandex_music_downloader_message2'|trans({}, 'app') }}</li>
                                <li>{{ 'yandex_music_downloader_message3'|trans({}, 'app') }}</li>
                            </ul>
                            <a href="{{ path('yandex.index') }}" class="btn btn-warning m-t-xs">{{ 'check_it'|trans({}, 'app') }}</a>
                        </div>
                        <div class="col-md-4">
                            <div class="media">
                                <img src="{{ asset('images/cloud.png') }}" class="info-image" style="background-image: none">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-warning text-black">
                <div class="card-body">
                    <div class="dashboard-info row">
                        <div class="primary-text col-md-12">
                            <h1 class="card-title">{{ 'write_to_us'|trans({}, 'app') }}</h1>
                            <p>{{ 'write_to_us_message2'|trans({}, 'app') }}</p>
                            <p>{{ 'write_to_us_message2'|trans({}, 'app') }}</p>

                            <a href="{{ path('contacts') }}" class="btn btn-primary m-t-xs">{{ 'contact_form'|trans({}, 'app') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
